/* Universal Styles */

body {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: rgb(59, 0, 59);
}

/* Header Styles */

header {
    position: sticky;
    top: 0;
}

nav {
    background-color: rgb(85, 19, 85);
    width: 100%;
    height: 4rem;
    display: flex;
    align-content: center;
}

header li {
    list-style: none;
    display: inline-flex;
    align-content: center;
    justify-content: start;
}

header a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    padding-right: 2rem;
}

header a:hover {
    color: gray;
    text-decoration: underline;
}

/* Banner Styles */

.banner {
    background-image: url("./images/banner-image.avif");
    background-size: cover;
    height: 450px;
    color: white;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    display: flex;
    width: 60%;
    height: 30%;
    font-size: 4rem;
    background-color: rgba(29, 14, 104, 0.6);
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}

/* About Us Styles */

.about-us {
    font-size: 2rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
}

.about-us .content {
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: center;
    color: lightgray;
    width: 100%;
}

.about-us h2 {
    margin: 0;
    padding-bottom: 1.5rem;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    text-align: center;
    padding-top: 20px;
    border-top: 1rem solid rgba(0, 0, 0, .5);
}

.about-us h4 {
    margin: 0;
    padding-bottom: 1.5rem;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    text-align: center;
}

.about-us h6 {
    margin: 0;
    padding-top: 1.5rem;
}

.about-us .container {
    display: flex;
    justify-content: space-around;
}

.about-us .container figure {
    background-color: rgba(0, 0, 0, .5);
    padding: 3rem;
    border: 1rem solid rgba(29, 14, 104, 0.6);
    border-radius: 25px;
}

.about-us .container figcaption {
    color: white;
    text-align: center;
}

/* Project Styles */

.projects {
    font-size: 2rem;
    padding-top: 20px;
}

.projects .content {
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    border-top: 1rem solid rgba(0, 0, 0, .5);
    color: lightgray;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.projects h2 , .projects h4 {
    text-align: center;
    margin: 0;
    padding-bottom: 1.5rem;
}

.projects .container {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

.projects .container figure {
    width: 25%;
}

.projects .container img {
    width: 100%;
    height: auto;
}

.projects .container figcaption {
    text-align: center;
    color: white;
    border-bottom: 2px solid black;
}

/* Team Styles */

.team {
    font-size: 2rem;
    padding-top: 20px;
}

.team .content {
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    border-top: 1rem solid rgba(0, 0, 0, .5);
    color: lightgray;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.team h2 {
    text-align: center;
    margin: 0;
    padding-bottom: 1.5rem;
}

.team .container {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

.team .container figure {
    width: 25%;
}

.team .container img {
    width: 100%;
    height: 376px;
    border-radius: 25px;
    border: .5rem solid rgba(0, 0, 0, 1);
    object-fit: scale-down;
}

.team .container figcaption {
    text-align: center;
    color: white;
}

#mark {
    background-color: white;
}

#andy {
    background-color: turquoise;
}

#tyler {
    background-color: black;
}

/* Footer Styles */

footer {
    background-color: rgb(85, 19, 85);
    height: 2.5rem;
    display: flex;
    align-items: center;
    position: sticky;
    bottom: 0;
}

footer p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 30px;
    vertical-align: middle;
    color: white;
}